.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.appHeader{
  height: 60px;
  font-weight: bold;
}
.pageContent{
  display: flex;
  flex: 1;
  overflow-y: auto;
}
.appFotter{
  height: 60px;
  background-color: black;
  margin-top: auto;
  color: white;

}
.productss{
 justify-content: center;
 display: flex;
  align-items: center;
}